* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

.page-wrap {
  padding-top: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 1200px;
  height: 600px;
  background-image: url("./carrot/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.button {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: beige;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.start {
  visibility: visible;
  height: 100px;
}

.button:hover {
  transform: scale(1.1);
}

.timer {
  font-size: 1.2em;
  margin-top: 1em;
  width: 100px;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  user-select: none;
}

.count {
  font-size: 1.5em;
  margin-top: 1em;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: lightsalmon;
  text-align: center;
  line-height: 50px;
  color: white;
  user-select: none;
}

.play-field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 160px;
}

.alert {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 30em;
  height: 10em;
  border-radius: 10px;
  z-index: 10;
  user-select: none;
  text-align: center;
}

.restart {
  margin-top: 1em;
}

.result {
  margin-top: 1em;
  font-size: 2em;
}

.carrot {
  display: none;
  position: absolute;
  top: 350px;
  left: 1250px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  user-select: none;
}

.carrot:hover {
  transform: scale(1.1);
}

.bug {
  display: none;
  position: absolute;
  top: 350px;
  left: 1250px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  user-select: none;
}

.bug:hover {
  transform: scale(1.2);
}
